:root
{
    /* Light mode */
    --light-text-color: #000000;
    --light-secondary-text-color: #888888;

    --light-bg-color: #FFFFFF;
    --light-bg-secondary-color: #CCCCCC;

    --light-button-primary-text: var(--light-text-color);
    --light-button-primary-bg-color: #DDDDFF;
    --light-button-primary-hover-bg-color: #AAAADD;
    --light-button-primary-active-bg-color: #9988DD;

    --light-anchor-text-color: #2222DD;
    --light-anchor-clicked-text-color: #7722AA;
    

    /* Dark mode */
    --dark-text-color: #FFFFFF;
    --dark-secondary-text-color: #888888;

    --dark-bg-color: #222222;
    --dark-bg-secondary-color: #555555;

    --dark-button-primary-text: var(--dark-text-color);
    --dark-button-primary-bg-color: #443355;
    --dark-button-primary-hover-bg-color: #331144;
    --dark-button-primary-active-bg-color: #330033;

    --dark-anchor-text-color: #5555FF;
    --dark-anchor-clicked-text-color: #7722AA;
}


body
{
    --text-color: var(--light-text-color);
    --secondary-text-color: var(--light-secondary-text-color);

    --bg-color: var(--light-bg-color);
    --bg-secondary-color: var(--light-bg-secondary-color);

    --button-primary-text-color: var(--light-button-primary-text);
    --button-primary-bg-color: var(--light-button-primary-bg-color);
    --button-primary-hover-bg-color: var(--light-button-primary-hover-bg-color);
    --button-primary-active-bg-color: var(--light-button-primary-active-bg-color);

    --anchor-text-color: var(--light-anchor-text-color);
    --anchor-clicked-text-color: var(--light-anchor-clicked-text-color);

    color: var(--text-color);
    background-color: var(--bg-color);
}

body.dark-mode
{
    --text-color: var(--dark-text-color);
    --secondary-text-color: var(--dark-secondary-text-color);

    --bg-color: var(--dark-bg-color);
    --bg-secondary-color: var(--dark-bg-secondary-color);

    --button-primary-text-color: var(--dark-button-primary-text);
    --button-primary-bg-color: var(--dark-button-primary-bg-color);
    --button-primary-hover-bg-color: var(--dark-button-primary-hover-bg-color);
    --button-primary-active-bg-color: var(--dark-button-primary-active-bg-color);
    
    --anchor-text-color: var(--dark-anchor-text-color);
    --anchor-clicked-text-color: var(--dark-anchor-clicked-text-color);
}


button.primary
{
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-bg-color);
}

button.primary:hover
{
    background-color: var(--button-primary-hover-bg-color);
}

button.primary:active
{
    background-color: var(--button-primary-active-bg-color);
}