*
{
    box-sizing: border-box;
}

body 
{
    /* MY VARS */
    --banner-height: 50vh;
    --standard-padding: 2vh 4vw;
    
    padding: 0px;
    margin: 0px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav
{
    background-color: var(--bg-secondary-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    position: sticky;
    top: 0; left: 0;
    z-index: 10;
    transition: transform 200ms ease-out;
}

.nav-hidden
{
    transform: translateY(-150%);
}

section, footer
{
    padding: 2vh 4vw;
    position: relative;
    z-index: 2;
}

header
{
    margin: 0px;

    /* Banner sizing */
    width: 100vw;
    height: var(--banner-height);
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

main
{
    position: relative;
    margin-top: var(--banner-height);
    background-color: var(--bg-color);
}

#dark-mode-button
{
    padding: 0.5vw;
    font-size: 0; /* hide any text */
}

#dark-mode-button svg
{
    width: 24px;
    height: 24px;
    display: block;
    flex: 0 0 auto;
}

#banner-header
{
    height: var(--banner-height);
    width: 100vw;
    position: relative;
    object-fit: cover;
    z-index: 0;
}

header::before
{
    width: 100vw;
    height: var(--banner-height);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#banner-title-header
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    z-index: 2;

    color: #FFFFFF;
    font-weight: 800;
    font-size: clamp(2.5em, 5vw, 4em);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.darken-div
{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

button
{
    padding: 1vh 2vw;
    border: 1px solid var(--text-color);

    transition: background-color 200ms;
}



#nav-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vmin 2vw;
}

#headshot-aboutme
{
    width: 40vw;
    max-width: 600px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}