.flex, .flex-row, .flex-col
{
    display: flex;
}

.flew-row
{
    flex-direction: row;
}

.flex-col
{
    flex-direction: column;
}

.stretch > *
{
    display: flex;
    flex: 1 1;
    min-width: 0;
}

.center
{
    align-items: center;
    justify-content: center;
}