body
{
    --standard-padding: 2vh 4vw;
    --banner-height: 60vh;

    --shadow-color: rgba(0, 0, 0, 0.3);
}

nav
{
    background-color: var(--bg-color);
    box-shadow: 0px 5px 5px var(--shadow-color);

    width: 100%;
    height: 100px;

    position: sticky;
    top: 0; left: 0;
    z-index: 10;
    transition: transform calc(var(--animation-time)) ease;
}

#nav-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vmin 2vw;

    width: 100%;
    height: 100%;
}

.nav-hidden
{
    transform: translateY(-150%);
}

header
{
    margin: 0px;
    padding: 0px;

    /* Banner sizing */
    height: var(--banner-height);
    width: 100vw;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

main
{
    padding: 25px 4vw;
}